/*** by lihua ****/
.tab-applyQuota {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: #eee 0.375em solid;
}
.tab-applyQuota ul li {
    float: left;
    padding-top: 2.3rem;
    width: 3.5rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.55rem;

    background: no-repeat top center;
    color: #999;
}
.tab-applyQuota ul li.active {
    color: #333;
}
.tab-applyQuota ul {
    margin: 0 auto;
    width: 14rem;
    padding-top: 1rem;
    padding-left: 0;
}
.tab-applyQuota ul li.realName {
    background-size: 2rem;
    background-image: url('images/icon11.png');
}
.tab-applyQuota ul li.realName.active {
    background-image: url('images/icon1.png');
}
.tab-applyQuota ul li.personal {
    background-size: 2rem;
    background-image: url('images/icon22.png');
}
.tab-applyQuota ul li.personal.active {
    background-image: url('images/icon2.png');
}
.tab-applyQuota ul li.face {
    background-size: 2rem;
    background-image: url('images/icon33.png');
}
.tab-applyQuota ul li.face.active {
    background-image: url('images/icon3.png');
}
.tab-applyQuota ul li.password {
    background-size: 2rem;
    background-image: url('images/icon44.png');
}
.tab-applyQuota ul li.password.active{
    background-image: url('images/icon4.png');
}

.bv-theme .bv-upload .file-container {
    width: 13.5rem;
    height: 7.2rem;
    margin: 0 auto;
    background-color: #f4fcff;
    color: #32beff;
    border: none;
}
.bv-theme .bv-upload.upload-multiple .file-container {
    width: 48%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0;
    margin-right: 0;
}
.bv-theme .bv-upload .file-preview+.item-after {
    font-size: 0.6rem;
}
.camera .file-container .default-image {
    background: url('images/camera.png') no-repeat center center;
    background-size: 50%;
}
.bv-form.form-align-left .item-title {
    text-align: left;
}
.bv-form.form-align-right .item-title {
    text-align: left;
}
.bv-form.form-align-right .item-input input, .bv-form.form-align-right .item-tag {
    text-align: right;
}
.bv-accordion .bv-form .item-input input, .bv-accordion .bv-form .item-tag, .bv-accordion .bv-form .item-input select {
    font-size: 0.7rem;
}
.bv-form.form-align-right .item-input select {
    direction: rtl;
}
.modal .modal-text, .modal .modal-button {
    font-size: 14px;
}

.bv-accordion .accordion-item-content .content-block, .bv-accordion .accordion-item-content .content-block .list-block ul {
    background-color: #fbfbfb;
}
.accordion-item.accordion-item-expanded>.item-content:after {
    content: ' ';
    height: 10px;
    width: 15px;
    position: absolute;
    z-index: 2;
    top: 41px;
    left: 42px;
    background: url(images/arrow.png) no-repeat center center;
}

/* reset public*/
.fullPage{ height: 100%;}
.gray{ background-color: #eee;}
.clear{  clear: both; }
.align-left{ text-align:left;}
.margt24{ margin-top:1.2rem;}
.height10{ height: 0.5rem;}

/*faceCamera*/
.bv-theme .faceCamera .file-container{width: 100%; height: 20rem; background-color: #fff; color: #999;}
.faceCamera .file-container .default-image{background: url('images/face.png') no-repeat center center; background-size: 13.45rem;}

/*handheldIdCard手持*/
.b-holder{ margin:0 0.5rem;background-color: #fff;}
.id-l{ float:left; width:50%; margin-top:15px; margin-bottom:15px;}
.id-r{ float:right; width:50%; margin-top: 25px;}
.id-r img{ width:5.675rem;}
.id-r p{ margin-top:0.45rem; colo:#333; text-align:center; font-size:0.6rem;}
.h-inform{ margin:.75rem 0; padding-left: 1.25rem; font-size:0.6rem; color: #999; text-align:left;}
.bv-theme .handheldIdCamera .item-after { margin-top:0.75rem; font-size: 0.6rem; }
.bv-theme .handheldIdCamera .file-container {  width: 5.67rem; background-color: #fff; color: #333;}
.handheldIdCamera .file-container .default-image{ width: 5.67rem; height: 5.85rem; background: url('images/applyQuota/holder.png') no-repeat top center; background-size: 5.67rem;}

/* 额度状态*/
@media only screen and (max-width:320px){html{font-size:18px !important}}
a{cursor:pointer;}
body{margin:0 auto;max-width:750px;}
.amtSituTopPrnt{position: relative;margin:0 auto;width:100%;height:auto;}
.amtNotBg{position:relative;margin:0px;padding:0px;width:100%;height:100%;background:#EDEEEE;}
.btmBg{position: relative;margin:0 auto;width:100%;padding:0px; line-height:0;}
.btmBg img{width:100%;border:none;}
.cvgCont{position: absolute;top:0px;left:0px;width:100%;height:100%;z-index:99;}
.amtNotTitle{width:100%;height:17%;display:table;color:#fff;text-align:center;font-size:.9rem;}
.amtNotTitle span{display:table-cell; vertical-align:middle;}

.amtNotSubTitle{margin:0 auto;margin-top:.5rem;width:78.8%;color:#fff;font-size:.7rem;line-height:.7rem;text-align:left;}
.amtNum{margin:0 auto;margin-top:1rem;width:77.13%;color:#fff;font-size:3.2rem;height:3.2rem;line-height:3.2rem;text-align:left;}
.amtNum span{display:inline-block;float:left;}
.amtNum .rmb{display:inline-block;margin-top:1.6rem;font-size:1.3rem;height:1.3rem;line-height:1.3rem;}
.amtActivBtn{margin:0 auto;margin-top:.5rem;width:78%;height:1.6rem;text-align:right;}
.amtgoBtn{margin:0 auto;margin-top:.5rem;width:78%;height:1.6rem;text-align:right;}
a.activAmuntBtn:link,a.activAmuntBtn:visited,a.activAmuntBtn:hover{display: block;float:right;margin:0 auto;padding:0px;width:4.5rem;height:1.6rem;line-height:1.6rem;color:#fff;-webkit-border-radius:.8rem;border-radius:.8rem;font-size:.7rem;background:#FDA253;text-align:center;border:0px;}
a.goGrayBtn:link,a.goGrayBtn:visited,a.goGrayBtn:hover{display: block;float:right;margin:0 auto;padding:0px;width:4.5rem;height:1.6rem;line-height:1.6rem;color:#D2D2D2;-webkit-border-radius:.8rem;border-radius:.8rem;font-size:.7rem;background:#9F9F9F;text-align:center;border:0px;}

.amtSitu{margin:0 auto;margin-top:2.9rem;width:81%;color:#fff;font-size:2.3rem;line-height:2.3rem;text-align:left;}
.amtz{margin:0 auto;margin-top:1.2rem;width:80%;color:#fff;font-size:.7rem;line-height:.7rem;text-align:left;}

.b-downloadTips{ padding: 0 0.8rem;}
.downloadTips2{position: relative; margin:0 auto;margin-top:.2rem;width:84%;font-size:.7rem;line-height:1rem;text-align:left;}
.mrto24{margin-top:1.2rem;}
.downloadTips .blueCircle{float:left; margin-top:.1rem;width:.5rem;height:.5rem;-webkit-border-radius:3rem;border-radius:3rem;background:#32BEFF;}
.downloadTips .ft{float:left;margin-left:.2rem; font-size: 0.8rem;}
.bluefont{color:#32BEFF;}
.grayfont{color:#999;}
.amtReson{margin:0 auto;margin-top:.8rem;width:80%;color:#d3d3d3;font-size:.7rem;line-height:.7rem;text-align:left;}
.amtAppyModi{position:relative;margin:0 auto;margin-top:1.25rem;width:100%;}
a.amtAppyModiBtn:link,a.amtAppyModiBtn:visited,a.amtAppyModiBtn:hover{display: block;margin:0 auto;padding:0px;width:84.5%;height:2.5rem;line-height:2.5rem;color:#fff;-webkit-border-radius:1.2rem;border-radius:1.2rem;font-size:.8rem;background:#32BEFF;text-align:center;border:0px;}

.amountTop{position:relative;margin:0 auto;width:100%;height:11rem;background:url(./images/amtTopBg.png) left top no-repeat;background-size:100%;}
.cusContent{position:relative;margin:0 auto;width:100%;}
.amountInfo{position:relative;margin:0 auto;padding-top:1.1rem;padding-bottom:1.1rem;width:100%;background:#fff;}
.verLine{position:relative;float:left;width:50%;height:3.8rem;}
.verLinebg{ background:url(images/amtSutiPoint.png) top right repeat-y;}
.bill{position:relative;float:left;margin:0px; cursor:pointer}
.bill li{text-align:left;}
.bill li.li1{height:1.4rem;line-height:1.4rem;font-size:.85rem;color:#333;}
.bill li.li2{height:1.1rem;line-height:1.1rem;font-size:.7rem;color:#999;}
.bill li.li3{height:1.3rem;line-height:1.3rem;font-size:.85rem;}
.bill li.liorg{color:#FDA253;}
.bill li.liblue{color:#29A9FC;}

/* 设置支付密码和短信验证码*/
.list-circle li{
    padding-left: 2.5rem; height: 2.5rem; font-size: 0.7rem; color: #999;
    background: #eee url('./images/pwd.png') no-repeat 24px center;
    background-size: 0.8rem; border:1px solid #ddd; border-radius: 25px; -webkit-border-radius: 25px;
    display: box; display: -webkit-box; display: flexbox;
    display: flex; display: -webkit-flex; box-align:center; -webkit-box-align:center; flex-align:center; align-items:center;
}
.bv-theme .form-pwd.list-block .item-content {
    margin-top:1rem;
    padding-left: 2.5rem;
    border:1px solid #ddd;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color: gray;
}
.bv-theme .form-pwd.list-block li:first-child .item-content{
    background: #eee url(' ./images/pwd.png') no-repeat 24px center;
    background-size: 0.8rem;
}
.bv-theme .form-pwd.list-block li:last-child .item-content{
    background: #eee url(' ./images/pwd.png') no-repeat 24px center;
    background-size: 0.8rem;
}
.bv-form.form-pwd , .bv-form.form-sms {
    margin: 0 35px;
    margin-top: 10px;
}
.bv-theme .form-sms.list-block .item-content {
    border-bottom: none;
}
.form-sms .content-block-title {
    height: 30px;
}
.form-sms #verifyNo {
    margin-right: 0.5rem;
    border-radius: 1.25rem;
    background: #eee url(images/icon_v.png) no-repeat 0.8rem center;
    background-size: 1rem;
    padding-left: 2.2rem;
    width: 7.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.7rem;
}
.form-sms #sendSms {
    border-radius: 1.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.7rem;
}
.form-sms.list-block .item-input.item-input-operate {
    padding-left: 0;
    width: 100%;
}
.list-block .item-input.item-input-operate.item-input-hint {
    padding-left: 0.2rem;
}
.list-block .item-input.item-input-operate.item-input-hint a {
    background: url(images/prompt.png) no-repeat center center;
    width: 0.7rem;
    background-size: 0.7rem;
}
/*协议*/
.agree-popup .content-block {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    margin: 0;
    padding: 0;
}
.agree-popup .content-block p {
    margin: 0.5rem;
}
.agree-popup p#title a {
    float: right;
}
/*找回密码*/
.bv-theme .getPayPwd li{
    border-bottom: 1px solid #ccc;
}
.bv-theme .getPayPwd li:last-child,.bv-theme .getPayPwd  .item-content {
    border-bottom: none;
}
/****** module：审批进度 ******/
.approvalNode{ width: 100%; padding: 1.5rem 0; display: box; display: -webkit-box; display: flexbox; display: flex; display: -webkit-flex; background: url(./images/nodeBg.png) no-repeat top center; background-size: cover;}
.approvalNode img{ padding-left: 2rem; padding-right:1.5rem; height: 3.5rem;}
.approvalNode .nodeStatus{ width: 100%; -webkit-box-flex:1; box-flex:1; -webkit-flex:1; flex:1;}
.approvalNode .nodeStatus b{ font-size: 0.85rem; line-height: 0.85rem; color: #fff; font-weight: normal;}
.approvalNode .nodeStatus p{ margin-top: 0.5rem; font-size: 0.7rem; line-height: 0.7rem; color:#dcecff;}
.nodeList ul{ display: block; margin-top:1.5rem;}
.nodeList li{ position: relative; padding-left: 2rem; padding-bottom:1rem; border-left:1px solid #ddd;}
.nodeList li:last-child{ padding-bottom:3px;}
.nodeList li em{ display: block; width: 0.7rem; height: 0.7rem; position: absolute; top:0px; left:-7px; background:url('./images/c1.png') no-repeat top left; background-size:0.7rem; }
.nodeList li span {font-size: 0.85rem; line-height: 0.85rem; color: #333}
.nodeList li span b{ margin-left: 1.5rem; font-weight: normal;}
.nodeList li p{ font-size: 0.6rem; line-height: 0.6rem; color: #999;}
.nodeList li.selected em{ background:url('./images/c2.png') no-repeat top left; background-size:0.7rem; }
.nodeList li.selected span,.nodeList li.selected p { color: #32beff}

/* 登录界面 */
@media screen and (orientation:portrait) {
    .loginBg{ width:100%; height:100%; background:url(images/login/loginBg.png) center top no-repeat;background-size: cover;}
}
@media screen and (orientation:landscape) {
    .loginBg{ width:100%; height:100%; background:url(images/login/loginBg.png) center top no-repeat;background-size:100%;}
}
.logo{ position:relative; margin:0 auto; width:6.317rem; height:3.067rem; padding-top:15%;}
.logo img{width:100%;}
.loginList{position:relative;margin:0 auto;padding:0px;margin-top:16.5%;width:68%;height:120px;font-size:16px;color:#E0E0E0;}
.loginListItem{position:relative;margin:0 auto;padding:0px;width:100%;height:60px;border-bottom:1px solid #A6C7E3;}
.loginListItem ul{position:relative;margin:0px;padding:0px;height:100%;}
.loginListItem ul li{position:relative;margin:0px;padding:0px;float:left;height:100%;text-align:left;}
.loginListItem .iconLi{width:15%;}
.loginListItem .iconLi img{position:absolute;right:0px;bottom:0.3rem;width:49%;}
.loginListItem .nameLi{width:17%;}
.loginListItem .nameLi span{position:absolute;display:inline-block;right:0px;bottom:0.36rem;height:1rem;line-height:1rem;}
.loginListItem .inputli{width:68%;}
.loginListItem .inputli input{position:absolute;left:0px;bottom:0px;width:100%;height:1.72rem;line-height:1.72rem;padding-left:10px;
color: #fff;text-align:left;background:none; border:none;}
.remPsd{position:relative;margin:0 auto;padding:0px; left:21px; margin-top:8px;/* margin-bottom:34px; */width:68%;height:18px;font-size:16px;color:#ffffff;}
.remPsd input[type='checkBox']{position:absolute;left:0px; right:5px; top:4px;width:16px;height:16px}
.remPsd span{position:absolute;left:1.25rem;display:inline-block;width:86%;height:.9rem;text-align:left;}
a.loginBtn:link,a.loginBtn:visited,a.loginBtn:hover{ margin:0 auto; margin-top:1.5rem; padding:0px;width:100%;height:40px;line-height:40px;color:#028CE5;border-radius:0rem;font-size:18px;background:#EBF1F5;border:1px solid #EBF1F5;}
a.regitBtn:link,a.regitBtn:visited,a.regitBtn:hover{ margin:0 auto;margin-top:4%;padding:0px;width:59%;height:40px;line-height:40px;color:#FDF6F4;border-radius:0rem;font-size:18px;background:none;border:1px solid #FDF6F4;}
.forgetPsdD{position:relative;margin:0 auto;width:100%;margin-top:22px;text-align:center;}
a.forgetPsd:link,a.forgetPsd:visited,a.forgetPsd:hover{font-size:16px;color:#FDF6F4;}
