/*** by lihua ****/
.tab-applyQuota {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: #eee 0.375em solid;
}
.tab-applyQuota ul li {
    float: left;
    padding-top: 2.3rem;
    width: 3.5rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.55rem;

    background: no-repeat top center;
    color: #999;
}
.tab-applyQuota ul li.active {
    color: #333;
}
.tab-applyQuota ul {
    margin: 0 auto;
    width: 14rem;
    padding-top: 1rem;
    padding-left: 0;
}
.tab-applyQuota ul li.realName {
    background-size: 2rem;
    background-image: url('images/icon11.png');
}
.tab-applyQuota ul li.realName.active {
    background-image: url('images/icon1.png');
}
.tab-applyQuota ul li.personal {
    background-size: 2rem;
    background-image: url('images/icon22.png');
}
.tab-applyQuota ul li.personal.active {
    background-image: url('images/icon2.png');
}
.tab-applyQuota ul li.face {
    background-size: 2rem;
    background-image: url('images/icon33.png');
}
.tab-applyQuota ul li.face.active {
    background-image: url('images/icon3.png');
}
.tab-applyQuota ul li.password {
    background-size: 2rem;
    background-image: url('images/icon44.png');
}
.tab-applyQuota ul li.password.active{
    background-image: url('images/icon4.png');
}

.bv-theme .bv-upload .file-container {
    width: 13.5rem;
    height: 7.2rem;
    margin: 0 auto;
    background-color: #f4fcff;
    color: #32beff;
    border: none;
}
.bv-theme .bv-upload .file-preview+.item-after {
    font-size: 0.6rem;
}
.camera .file-container .default-image {
    background: url('images/camera.png') no-repeat center center;
    background-size: 50%;
}
.bv-form.form-align-left .item-title {
    text-align: left;
}
.bv-form.form-align-right .item-title {
    text-align: left;
}
.bv-form.form-align-right .item-input input, .bv-form.form-align-right .item-tag {
    text-align: right;
}
.bv-form.form-align-right .item-input select {
    direction: rtl;
}
.modal .modal-text, .modal .modal-button {
    font-size: 14px;
}

.bv-accordion .accordion-item-content .content-block, .bv-accordion .accordion-item-content .content-block .list-block ul {
    background-color: #fbfbfb;
}
.bv-theme .list-block .item-content {
    border-bottom: 1px solid #ccc;
}
.bv-theme .list-block .item-content .item-inner {
    border-bottom: none;
}
.list-block.bv-accordion .bv-form .item-content {
    border-bottom: none;
}
.accordion-item.accordion-item-expanded>.item-content:after {
    content: ' ';
    height: 10px;
    width: 15px;
    position: absolute;
    z-index: 2;
    top: 41px;
    left: 42px;
    background: url(images/arrow.png) no-repeat center center;
}

/**/
/*faceCamera*/
.bv-theme .faceCamera .file-container {
    width: 100%;
    height: 20rem;
    background-color: #fff;
    color: #999;
}
.faceCamera .file-container .default-image {
    background: url('images/face.png') no-repeat center center;
    background-size: 13.45rem;
}
/*faceCamera end*/
.form-sms.bv-form.list-block {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.bv-theme .form-sms.list-block .item-content {
    border-bottom: none;
}
.form-sms .content-block-title {
    height: 30px;
}
.form-sms #verifyNo {
    border-radius: 1.25rem;
    background: #eee url(images/icon_v.png) no-repeat 0.8rem center;
    background-size: 1rem;
    padding-left: 2.2rem;
    width: 7.97rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.7rem;
}
.form-sms #sendSms {
    border-radius: 1.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 0.7rem;
    font-size: 0.7rem;
}
.form-sms #sendSms[disabled] {
    border-color: #dddddd;
    background: #eee;
    color: #999;
}

.agree-popup .content-block {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    margin: 0;
    padding: 0;
}
.agree-popup .content-block p {
    margin: 0.5rem;
}
.agree-popup p#title a {
    float: right;
}
.bv-theme .bv-upload.upload-multiple .file-container {
    width: 50%;
}