<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.EntrySettingDao">

    <select id="selectBychanelNo" resultType="com.haiercash.payplatform.common.data.EntrySetting">
        select * from ENTRY_SETTING where channel_no = #{channelNo}
    </select>


</mapper>