<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.SgtsLogDao">

    <!--查询顺逛推送次数-->
    <select id="selectApplSeq" resultType="java.lang.Integer">
     select tscount from Sgts_Log where appl_seq=#{applSeq,jdbcType=VARCHAR} and out_sts=#{outSts,jdbcType=VARCHAR}
    </select>
    <select id="update" resultType="java.lang.Integer">
        update Sgts_Log set tscount=#{tscount, jdbcType=INTEGER} where appl_seq=#{applSeq, jdbcType=VARCHAR} and out_sts=#{outsts,jdbcType=VARCHAR}
    </select>

    <select id="selectApplSeqed" resultType="java.lang.Integer">
       select tscount from Sgts_Log where appl_seq=#{applSeq,jdbcType=VARCHAR} and msg_typ=#{msgTyp,jdbcType=VARCHAR}
    </select>
    <select id="updateed" resultType="java.lang.Integer">
        update Sgts_Log set tscount=#{tscount, jdbcType=INTEGER} where appl_seq=#{applSeq, jdbcType=VARCHAR} and msg_typ=#{msgTyp,jdbcType=VARCHAR}
    </select>


    <select id="selectcount" resultType="java.lang.Integer">
        select count(1) from Sgts_Log where appl_seq=#{applSeq} and remark ='00000'
    </select>

    <select id="selectcounts" resultType="java.lang.Integer">
        select count(1) from Sgts_Log where appl_seq=#{applSeq, jdbcType=VARCHAR} and out_sts=#{outSts, jdbcType=VARCHAR} and tscount =3
    </select>
</mapper>