<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.ShunGuangthLogDao">

    <!--查询顺逛推送次数-->
    <select id="selectDataByFlag" resultType="com.haiercash.payplatform.common.dao.ShunGuangthLogDao">
     select
             logid,
             msgtyp,
             applseq,
             mallorderno,
             loanno,
             idno,
             custname,
             businessid,
             businesstype,
             status,
             content
    from SG_RETURNGOODS_LOG
    where flag=#{flag,jdbcType=VARCHAR}
    and channelNo=#{channelNo,jdbcType=VARCHAR}
    </select>
    <update id="updateFlagById">
        update SG_RETURNGOODS_LOG
        <set>
            time=#{time, jdbcType=INTEGER},
            flag=#{flag, jdbcType=VARCHAR}
        </set>
        where logid=#{logId, jdbcType=VARCHAR}
    </update>
    <update id="updateTimesById">
        update SG_RETURNGOODS_LOG
        <set>
            time=#{time, jdbcType=INTEGER},
            times=times+1
        </set>
        where logid=#{logId, jdbcType=VARCHAR}
    </update>
</mapper>