<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.SignContractInfoDao">


    <select id="getSignContractInfo" resultType="com.haiercash.payplatform.common.data.SignContractInfo" >
        select * from SIGN_CONTRACT_INFO where TYPCDE = #{typcde, jdbcType=VARCHAR}
    </select>

</mapper>