<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.VipAbcDao">

    <!--额度申请URL-->
    <select id="selectIdCard" resultType="java.lang.String">
        select idcard from VIPABC_ORDER_INFO where ordersn LIKE '${ordersn}%'
    </select>

</mapper>
