<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiercash.payplatform.common.dao.BcBankInfoDao">

    <select id="selectById" resultType="com.haiercash.payplatform.common.data.BcBankInfo">
        select * from bc_bank_info;
    </select>

</mapper>