<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_PATH" value="./log"/>
    <property name="APP_NAME" value="payplatform"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TraceId}] %-5level %logger{36} %L - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TraceId}] %-5level %logger{36} %L - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOG"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <logger name="com.haiercash" level="info">
        <appender-ref ref="ASYNC_LOG"/>
    </logger>

    <appender name="REPORT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.report.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TraceId}] %-5level %logger{36} %L - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_REPORT_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="REPORT_LOG"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <logger name="com.haiercash.payplatform.controller.ReportController" level="info">
        <appender-ref ref="ASYNC_REPORT_LOG"/>
    </logger>

    <appender name="TASK_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.task.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TraceId}] %-5level %logger{36} %L - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_TASK_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TASK_LOG"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <logger name="com.haiercash.payplatform.tasks" level="info">
        <appender-ref ref="ASYNC_TASK_LOG"/>
    </logger>

    <appender name="TRACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.trace.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{TraceId}] %-5level %logger{36} %L - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_TRACE_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TRACE_LOG"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <logger name="com.haiercash.spring.trace" level="info">
        <appender-ref ref="ASYNC_TRACE_LOG"/>
    </logger>
</configuration>
