<component is="bv-layout" data-container="applyProgress" v-cloak>
    <div class="approvalNode">
        <img :src="adviceImage" alt="">
        <div class="nodeStatus">
            <b>审批节点：{{lastItem.wfiNodeName}}</b>
            <p>审批状态：{{lastItem.appConclusionDesc}}</p>
            <p>{{adviceName}}：{{lastItem.appOutAdvice}}</p>
        </div>
    </div>
    <div class="height10 gray"></div>
    <div class="nodeList">
        <ul>
            <li v-for="(item,index) in items" v-if="index !== 0">
                <em></em>
                <span>{{item.wfiNodeName}}</span><!--<b>{{item.appConclusionDesc}}</b>-->
                <p>{{item.operateTime}}</p>
            </li>
        </ul>
    </div>
</component>
<script type="text/javascript">
    require(['jquery', 'util'], function($, util) {
        util.title('额度申请进度');
        util.script({
            url: '/applyQuota/applyProgress.js'
        });
    });
</script>